.top-container {
    border: solid black 7px;
    height: 200px;
    width: 95%;
    margin: auto;
    margin-top: 50px;
    padding: 12px 10px;
    box-sizing: border-box;

}

#purple-rectangle {
    background: purple;
    height: 120px;
    width: 40px;
    margin-top: 35px;
    margin-bottom: 12px;
    display: inline-block;
}

#green-square {
    background: rgb(27, 165, 27);
    height: 176px;
    width: 300px;
    margin: 0 40px;
    display: inline-block;
}

#blue-circle {
    background: lightblue;
    height: 176px;
    width:176px;
    border-radius: 50%;
    display: inline-block;
}

.middle-container {
    border: dotted black 5px;
    height: 220px;
    width: 95%;
    margin: auto;
    margin-top: 40px;
}

#cream-box {
    background: lightyellow;
    height: 100px;
    width: 70%;
    margin: auto;
    padding: 40px;
}

.bottom-container {
    border: solid black 5px;
    height: 250px;
    width: 60%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

#text {
    font-size: 50px;
    font-weight: bold;
    color: navy;

}