.top-container {
    border: solid black 7px;
    height: 200px;
    width: 90%;
    margin:auto;
    margin-top: 50px;
    padding: 12px 10px;
    box-sizing: border-box;

}

#purple-rectangle {
    background: purple;
    height: 120px;
    width: 70px;
    margin-top: 40;
    display: inline-block;
}

#green-square {
    background: rgb(27, 165, 27);
    height: 176px;
    width: 300px;
    display: inline-block;
}

#blue-circle {
    background: lightblue;
    height: 176px;
    width:176px;
    border-radius: 50%;
    display: inline-block;
}

.middle-container {
    border: dotted black 5px;
    height: 210px;
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

.bottom-container {
    border: solid black 5px;
    height: 250px;
    width: 60%;
    margin: auto;
    margin-top: 50px;
}

#text {
    font-size: 50px;
    font-weight: bold;
    color: navy;
}