body {
    margin: 0;
    background: whitesmoke;
    width: 100%;
    height:100%;
}
.top-gray-header {
    background-color: darkgrey;
    length: 10%;
    width: 100%;
}
.bottom-darkgray-footer {
    background-color: darkslategray;
    length: 100px;
    width: 50px;
}
.white-body {
    background-color: white;
    margin: auto;
    length: 10vh;
    width: 75%;
}